<section class="hero">
      <div class="hero-container">
        <div class="hero-content">
          <div class="hero-text">
            <h1 class="hero-title">Tecnologia de Ponta ao Seu Alcance.</h1>
            <p class="hero-description">
              Na InfoShop, você encontra a tecnologia que impulsiona o seu mundo. Desempenho, inovação e as melhores marcas. Seu próximo upgrade está aqui.
            </p>
            <div class="hero-buttons">
              <button class="btn btn-primary" (click)="goToLogin()">Gerenciar</button>
              <button class="btn btn-secondary">Comprar</button>
            </div>
             <div class="hero-icons">
                        <div class="hero-icons-container">
                            <i class="fas fa-check-circle "></i>
                            <span>Frete Gratis</span>
                        </div>
                        <div class="hero-icons-container">
                            <i class="fas fa-check-circle "></i>
                            <span>Garantia Anual</span>
                        </div>
                        <div class="hero-icons-container">
                            <i class="fas fa-check-circle "></i>
                            <span>Suporte 24H</span>
                        </div>
                    </div>
          </div>
        </div>
        
        <div class="hero-image">
          <div class="image-container floating">
            <img src="/imageHero.png" alt="Imagem Hero">
          </div>
        </div>
      </div>
  </section>