<footer class="footer-container">
  <div class="footer-section logo-section">
    <div class="logo">
          <img src="/Logo2.svg" alt="InfoShop Logo" class="logo">
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur. Aliquet fermentum bibendum sed tristique cursus.
      Lorem ipsum dolor sit amet consectetur. Aliquet fermentum bibendum sed tristique cursus.
    </p>
    <div class="social-icons">
      <i class="fas fa-times"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-youtube"></i>
    </div>
  </div>

  <div class="footer-section">
    <h4>Shop</h4>
    <ul>
      <li>Laptops</li>
      <li>Smartphones</li>
      <li>Tablets</li>
      <li>Games</li>
      <li>Hardware</li>
    </ul>
  </div>

  <div class="footer-section">
    <h4>Suporte</h4>
    <ul>
      <li>Fale Conosco</li>
      <li>FAQs</li>
      <li>Política de Compra</li>
      <li>Devolução & Estorno</li>
      <li>Política de Privacidade</li>
    </ul>
  </div>

  <div class="footer-section">
    <h4>Contact</h4>
    <ul>
      <li><i class="fas fa-map-marker-alt"></i> 123 rua Tech, Esquina da ciência</li>
      <li><i class="fas fa-phone-alt"></i> +55 89999-999</li>
      <li><i class="fas fa-envelope"></i> suporteinfoshop.com</li>
    </ul>
  </div>
</footer>
