<div class="newsletter-container">
  <div class="newsletter-left">
    <h3>Fique Ligado</h3>
    <p>
      Quer ficar por dentro de tudo o que acontece no mundo da tecnologia e, o melhor, com vantagens exclusivas? Inscreva-se agora mesmo e comece a aproveitar!
    </p>
    <div class="social-icons">
      <i class="fas fa-times"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-youtube"></i>
    </div>
  </div>

  <div class="newsletter-right">
    <input type="email" placeholder="Seu E-mail:" />
    <button>
      <i class="fas fa-paper-plane"></i>
    </button>
  </div>
</div>