<div class="outer-container" (mousemove)="onMouseMove($event)" >
  <div class="parallax-background" [style.transform]="getParallaxStyle()">
  </div>

  

  <div class="login-container"  >
    <div class="container-back">
      <button class="btn-back-btn" (click)="goToHome()" type="button">
        <i class="fa fa-arrow-left text-xl"></i> Voltar
      </button>
    </div>

    <mat-card class="login-card">
     
      <mat-card-content>
        <div class="logo-container">
          <img src="/Logo1.svg" alt="InfoShop Logo" class="logo">
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="outline" class="full-width customformfield">
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="email" type="email" >
            <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
              Email é obrigatório
            </mat-error>
            <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
              Email inválido
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width customformfield">
            <mat-label>Senha</mat-label>
            <input class="inptcustom" matInput formControlName="password" 
                   [type]="hidePassword ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
              Senha é obrigatória
            </mat-error>
          </mat-form-field>

          <button mat-raised-button class="full-width login-button button-home"
                  [disabled]="loginForm.invalid || isLoading">
            {{isLoading ? 'Entrando...' : 'Entrar'}}
          </button>
        </form>
        <div class="social-login">
          <button mat-stroked-button class="social-btn google-btn" (click)="loginWithGoogle()">
            <i class="fa-brands fa-google"></i>
            Entrar com Google
          </button>

        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>