<div class="outer-container" (mousemove)="onMouseMove($event)" >
  <div class="parallax-background" [style.transform]="getParallaxStyle()">
  </div>

  <div class="login-container"  >
    <mat-card class="login-card">
      <mat-card-content>
        <div class="logo-container">
          <img src="/logo-login.png" alt="InfoShop Logo" class="logo">
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="outline" class="full-width customformfield">
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="email" type="email" >
            <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
              Email é obrigatório
            </mat-error>
            <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
              Email inválido
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width customformfield">
            <mat-label>Senha</mat-label>
            <input class="inptcustom" matInput formControlName="password" 
                   [type]="hidePassword ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
              Senha é obrigatória
            </mat-error>
          </mat-form-field>

          <button mat-raised-button class="full-width login-button button-home"
                  [disabled]="loginForm.invalid || isLoading">
            {{isLoading ? 'Entrando...' : 'Entrar'}}
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>